body {
  font-family: Poppins, sans-serif;
  background: linear-gradient(135deg, #e6e6fa 0%, #e6e6fa 100%);
  background-attachment: fixed;
  color: #fff;
  padding: 40px 20px;
}

h1 {
  color: #222;
  margin-bottom: 20px;
  text-align: center;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 700;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  padding-bottom: 40px;

}

form {
  background-color: rgba(233, 225, 225, 0.95);
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 360px;
  color: #f8f2f2;
  z-index: 1;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 18px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

.gender-group  {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  gap: 4px;
  font-size: 15px;
  align-items: center;
  flex-wrap: nowrap;
  
}

button {
  margin-top: 10px;
  background-color: #041424;
  color: #fff;
  padding: 7px 30px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.submit-button-container {
  text-align: center;

}


.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #007bff;
  margin-right: 8px;
  cursor: pointer;
}

label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  color: #333;
}


@media screen and (max-width: 480px) {
  body {
    padding: 20px 10px;
  }

  form {
    padding: 20px;
  }

  button {
    width: 100%;
  }
}